<div class="card-outer card-upgrade font-staw" ng-class="{ 'card-unique': upgrade.unique, 'card-OnePerShip': upgrade.OnePerShip, 'card-factionFederation': upgrade.factionFederation, 'card-FrontArc': upgrade.FrontArc, 'card-RearArc': upgrade.RearArc, 'card-Hull': upgrade.Hull, 'card-mirror': upgrade.mirror, 'dragging': upgrade == dragStore.item }" draggable drag-item="upgrade" drag-store="dragStore" drag-source="dragSource">

	<div class="card-image">
		<img ng-if="upgrade.image" ng-src="{{upgrade.image}}" style="width: 100%; height: 95%; object-fit: scale-down; border-radius: 10px; background: repeating-conic-gradient(#808080 0% 25%, #d3d3d3 0% 50%) 50% / 20px 20px;" />
	</div>

	<div class="card-corner-top-left pull-left">
		<i ng-if="upgrade.unique" class="card-unique-icon fs fs-unique pull-left"></i>
		<i ng-if="upgrade.OnePerShip" class="card-OnePerShip-icon fs fs-OnePerShip pull-left"></i>
		<i ng-if="upgrade.specialization" class="card-specialization-icon fs fs-specialization pull-left"></i>
		<div class="card-corner-inner pull-right"></div>
	</div>

	<div class="card-title-container text-left">
		<span ng-if="upgrade.showType" class="card-captain pull-right">{{upgrade.type|uppercase|removeDashes}}</span>
		<span ng-if="upgrade|valueOf:'attack':ship:fleet" class="card-weapon-attack pull-right" style="margin-right: 5px; position: relative; z-index: 1;" tooltip-show="ship" tooltip="upgrade|valueOf:'attack':ship:fleet:false:{modifiers:true}">{{upgrade|valueOf:'attack':ship:fleet}}</span>
		<span class="card-title"
			ng-class="{ 'card-title-long': upgrade.name.length >= 18 || (upgrade.showType && upgrade.name.length + upgrade.type.length >= 18),
						'card-title-super-long': upgrade.name.length >= 24 || upgrade.showType && upgrade.name.length + upgrade.type.length >= 24,
			}">{{upgrade.name | uppercase}}</span>
	</div>

	<div class="card-border-left pull-left">
		<!-- Captain Requirements -->
		<ng-container ng-repeat="faction in ['Federation', 'Bajoren', 'Vulcan', 'Klingon', 'Romulan', 'Dominion', 'Independent', 'Ferengi', 'Kazon', 'Xindi', 'Borg', '8472', 'MU']">
			<i ng-if="upgrade['captain' + faction]" 
				class="card-captain{{faction}}-icon fs fs-captain{{faction}}" 
				title="{{faction}} Captain Required"></i>
		</ng-container>

		<!-- Ship Requirements -->
		<ng-container ng-repeat="faction in ['Federation', 'Bajoren', 'Vulcan', 'Klingon', 'Romulan', 'Dominion', 'Independent', 'Ferengi', 'Kazon', 'Xindi', 'Borg', '8472', 'MU']">
			<i ng-if="upgrade['ship' + faction]" 
				class="card-ship{{faction}}-icon fs fs-ship{{faction}}" 
				title="{{faction}} Ship Required"></i>
		</ng-container>

		<!-- Cost Icons -->
		<ng-container ng-repeat="faction in ['Federation', 'Bajoren', 'Vulcan', 'Klingon', 'Romulan', 'Hirogen', 'Dominion', 'Independent', 'Ferengi', 'Kazon', 'Xindi', 'Borg', '8472', 'MU']">
			<i ng-if="upgrade['cost' + faction]" 
				class="card-cost{{faction}}-icon">{{upgrade|valueOf:'cost' + faction:ship:fleet}}</i>
		</ng-container>

		<!-- Constraints -->
		<i ng-if="upgrade.attackConstraint" class="card-attackConstraint-icon" title="Must have an Attack Value of {{upgrade|valueOf:'attackConstraint':ship:fleet}}">{{upgrade|valueOf:'attackConstraint':ship:fleet}}</i>
		<i ng-if="upgrade.hullConstraint" class="card-hullConstraint-icon" title="Must Have a Hull Value of {{upgrade|valueOf:'hullConstraint':ship:fleet}}">{{upgrade|valueOf:'hullConstraint':ship:fleet}}</i>
		<i ng-if="upgrade.shieldConstraint" class="card-shieldConstraint-icon" title="Must Have Shield Value of {{upgrade|valueOf:'shieldConstraint':ship:fleet}}">{{upgrade|valueOf:'shieldConstraint':ship:fleet}}</i>
		<i ng-if="upgrade.csConstraint" class="card-csConstraint-icon" title="Must Have a Captain Skill of {{upgrade|valueOf:'csConstraint':ship:fleet}}">{{upgrade|valueOf:'csConstraint':ship:fleet}}</i>
		<i ng-if="upgrade.errata" class="card-errata-icon">{{upgrade|valueOf:'errata':ship:fleet}}</i>

		<!-- Arc Icons -->
		<i ng-if="upgrade.FrontArc" class="card-FrontArc-icon fs fs-FrontArc" title="Forward Firing Arc"></i>
		<i ng-if="upgrade.RearArc" class="card-RearArc-icon fs fs-RearArc" title="Secondary Firing Arc"></i>
		<i ng-if="upgrade.arc360" class="card-360Arc-icon fs fs-360Arc" title="360-Degree Firing Arc"></i>

		<!-- Ship Class Limits -->
		<ng-container ng-repeat="class in ['ship', 'constitution', 'akira', 'drone', 'andorian', 'attackship', 'battleship', 'dreadnaught', 'dauntless', 'dderidex', 'dkyr', 'defiant', 'gorn', 'hirogen', 'maquisraider', 'prometheus', 'excelsior', 'nx', 'deltaflyer', 'intrepid', 'nova', 'aerie', 'numiri', 'nerada', 'sovereign', 'constitutionk', 'reman', 'kvort', 'brel', 'vorcha', 'neghvar', 'galor', 'keldon', 'suurok', 'vidiian', 'warbird']">
			<i ng-if="upgrade[class + 'Limit']" 
				class="card-{{class}}Limit-icon fs fs-{{class}}Limit" 
				title="{{class | titlecase}} Class"></i>
		</ng-container>

		<!-- Special Icons -->
		<i ng-if="upgrade.faq" class="card-faq-icon fs fs-faq"></i>
		<i ng-if="upgrade.opBanned" class="card-OP-banned-icon fs fs-opBanned" title="Banned from OP Play"></i>
	</div>

	<div class="card-text">
		<div ng-if="upgrade.range" class="card-weapon-range pull-right">{{upgrade|valueOf:'range':ship:fleet}}</div>
		<div class="card-text-inner font-staw-alt" ng-bind-html="upgrade.text | icons" ng-class="{'card-text-inner-long': upgrade.text.length > 300, 'card-text-inner-super-long': upgrade.text.length > 530, 'text-left': upgrade.range }"></div>
	</div>

	<div class="card-upgrade-cost pull-right"><div ng-repeat="faction in upgrade|valueOf:'factions':ship:fleet" class="card-upgrade-faction card-faction-{{ (upgrade|valueOf:'factions':ship:fleet).length - $index}}"><div class="card-upgrade-faction-black"></div><div class="card-upgrade-faction-icon card-faction-{{faction}}"></div></div><div class="card-upgrade-cost-value" ng-class="{'card-upgrade-cost-free': '{{upgrade|valueOf:'free':ship:fleet}}' }" tooltip-show="ship" tooltip="upgrade|valueOf:'cost':ship:fleet:false:{modifiers:true}">{{upgrade|valueOf:'cost':ship:fleet}}</div></div>

	<div ng-if="upgrade.type == 'captain' || upgrade.type == 'admiral' || (upgrade|valueOf:'skill':ship:fleet)" class="card-skill-container pull-left">
		<div class="card-skill" tooltip-show="ship" tooltip="upgrade|valueOf:'skill':ship:fleet:false:{modifiers:true}" tooltip-position="nw-alt"><span class="card-skill-plus" ng-show="upgrade.isSkillModifier && upgrade.skill >= 0">+</span>{{upgrade|valueOf:'skill':ship:fleet}}</div>
	</div>

	<div ng-if="!(upgrade|valueOf:'skill':ship:fleet) && upgrade.type != 'captain' && upgrade.type != 'admiral' " class="card-upgrade-type pull-left fs fs-{{upgrade.type}}"></div>

	<div class="card-border-bottom">
		<i ng-if="upgrade.talents" ng-repeat="talent in range(upgrade.talents) track by $index" class="fs fs-talent"></i>
		<i ng-repeat="slot in upgrade.upgradeSlots track by $index" ng-if="slot.showOnCard" class="fs fs-{{slot.type[0]}}" ng-class="{'card-upgrades-long': upgrade.upgradeSlots.length > 2}"></i>
	</div>

<i ng-if="upgrade.alliance" class="card-alliance-icon fs fs-alliance">

	<div style="clear: both"></div>

</div>
